@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* ========================================
   Root Variables
======================================== */
:root {
  --font-poppins: var(--font-poppins);

  /* Brand Colors */
  --brand: #d6fb00;
  --brand-hover: #c2ea00;
  --brand-dark: #a8d400;
  --dark: #0f0f0f;

  /* Background */
  --background-dark: #0f0f0f;
  --background-dark-secondary: #1b1b1b;
}

/* ========================================
   Base Styles
======================================== */
@layer base {
  body {
    @apply text-white;
    background-color: var(--background-dark);
    font-family: var(--font-poppins), sans-serif;
  }
  p,
  li {
    @apply tracking-wider;
  }
}

/* ========================================
   Utilities (Semantic Custom Utilities)
======================================== */
@layer utilities {
  /* Brand Colors */
  .text-brand {
    color: var(--brand);
  }
  .text-brand-hover:hover {
    color: var(--brand-hover);
  }
  .text-dark {
    color: var(--dark);
  }
  .text-dark-hover:hover {
    color: var(--dark);
  }
  .bg-brand {
    background-color: var(--brand);
  }
  .bg-brand-hover:hover {
    background-color: var(--brand-hover);
  }
  .bg-brand-dark:active {
    background-color: var(--brand-dark);
  }

  .border-brand {
    border-color: var(--brand);
  }
  .bg-dark {
    background-color: var(--background-dark);
  }
  .bg-dark-hover:hover {
    background-color: white;
  }
  .bg-dark-secondary {
    background-color: var(--background-dark-secondary);
  }
  .bg-dark-secondary.border-brand {
    border-width: 1px;
    border-color: var(--dark);
    transition: all 0.15s ease-in-out;
  }
  .bg-dark-secondary.border-brand:hover {
    border-width: 1px;
    border-color: var(--brand);
  }

  /* Navbar Hover Underline Animation */
  .nav-link {
    @apply relative text-white/75 transition-colors font-medium;
  }
  .nav-link:hover {
    @apply text-white;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--brand);
    transition: width 0.3s ease;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-link.active {
    @apply text-white;
  }
  .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--brand);
    transition: width 0.3s ease;
  }

  /* Marker (List Bullet) Brand Color */
  .marker-brand::marker {
    color: var(--brand);
  }
  /* Swiper Navigation (Next & Prev) – Brand Color */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--brand) !important;
    font-weight: bold;
  }

  /* Hover effect optional */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: var(--brand-hover) !important;
  }
}
