@import "tailwindcss";

/* ------------------------------
   ROOT VARIABLES
------------------------------ */
:root {
  --font-poppins: var(--font-poppins);

  /* Brand Colors */
  --brand: #d6fb00;
  --brand-hover: #c2ea00;
  --brand-dark: #a8d400;

  /* Dark Gray Background */
  --background-dark: #0f0f0f; /* abu tua */
}

/* ------------------------------
   GLOBAL FONT
------------------------------ */
body {
  background-color: var(--background-dark);
  color: white;
  font-family: var(--font-poppins), sans-serif;
}

.color-brand {
  color: var(--brand);
}

.text-brand:hover {
  color: var(--brand-hover);
}

/* Background Brand */
.bg-brand {
  background-color: var(--brand);
}

.bg-brand-hover:hover {
  background-color: var(--brand-hover);
}

.bg-brand-dark:active {
  background-color: var(--brand-dark);
}

/* Border Brand */
.border-brand {
  border-color: var(--brand);
}

/* Smooth transitions for UI feel */
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}
